<p class="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Invite this user to play.', invite_user_path(@user) %>
<%= link_to 'Back', users_path %>
