<h1>Listing invitations</h1>

<table>
  <tr>
    <th>Issuer</th>
    <th>Recipient</th>
    <th>First move</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.issuer %></td>
    <td><%= invitation.recipient %></td>
    <td><%= invitation.first_move %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
