<p class="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= @game.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2 %>
</p>

<p>
  <b>Padded board array:</b>
  <%= @game.padded_board_array %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
