<% content_for :javascript_includes do %>
	<script type="text/javascript">var game_id=<%= @game.id %>;</script>
	<%= javascript_include_tag "checkers.js" %>
<% end %>
	

<p class="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= @game.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2 %>
</p>

<p>
  <b>Board String:</b>
  <%= @game.board_string %>
</p>

<%= render :partial => 'shared/board', :locals => { :board_string => @game.board_string, :moves => @moves } %>

<% if current_user_moves? %>
	<%= form_tag "#{game_path(@game)}/move" do %>
		<%= hidden_field_tag :id, @game.to_param %>
		<b><%= label_tag 'move_string' %>:</b> <%= text_field_tag :move_string %> 
		<%= submit_tag %>	
	<% end %>
<% end %>

<%= link_to 'Back', games_path %>
